div{
    background-color: turquoise;
    padding: 10px;
    /* border-bottom: 5px; */
    margin-bottom: 10px;


}


.head{
    color: rgb(165, 122, 42);
}
li{
    border-color: cadetblue;
   font-style: italic;
   font: bold;
}